---
title: 'Same as it ever was?'
description: "Sure, I’ve listened to the Billy Joel song. I’ve read the Book of Revelations. But this? This is the bad timeline right?"
author: 'Sam Low'
date: '2026-9-29'
published: true
---

# Same as it ever was?

<div class="poem">
And you may ask yourself
"How do I work <a href="https://openclaw.ai/">this</a>?"
And you may ask yourself
"Where is that <a href="https://www.rbccm.com/en/insights/2025/09/whats-driving-the-ev-slowdown">large automobile</a>?"
And you may tell yourself
"This is not my <a href="https://www150.statcan.gc.ca/n1/pub/91f0015m/91f0015m2025002-eng.htm#a6">beautiful house</a>!"
And you may tell yourself
"This is not my <a href="https://character.ai/">beautiful wife</a>!"
</div>

Sure, I'm hip to the wisdom of [Billy Joel](https://www.youtube.com/watch?v=eFTLKWw542g). 
I've studied the [seven seals](https://en.wikipedia.org/wiki/Seven_seals) from Revelations. 
I'm aware of cultures preceding my own. 
But this? This is the bad timeline, right?

Every generation believes they are the last. 
It is an eternal fact that humanity considers itself on the cusp of completing or curtailing its mission here on Earth.
Situated at the fork between Heaven and Hell, man ponders the brink until the end of his time. 
We are flustered trembling subservients weak to the seduction of eschatological sentiments. 

Fine. Thats all true. But you must admit things *are* weird. And have been for much of my (short) life.

The pandemic struck during my first year of high school. 
Football pitches forfeit to dandelion fields as every institution across the globe froze in wait of a more acceptable rate of deaths.
With schools shuttered, the following months were an insular haze where I watched broadcasts of riots shot throughout America, pointlessly battled strangers on Twitter, and engaged in hobbies for the purpose of posting the results on Reddit.

Dutifully practicing the commandments of the time, I scarcely saw the bulk of my friends irl for the next two years -- even once schools reopened. 
We used to just Myers-Briggs ourselves into statistics of the youth loneliness epidemic. Now misery was a necessary element of the moral code!
 
While remote learning due to the illness of a classmate in my Chinese class, I watched the attempted insurrection at the United States Capitol happen live on my computer screen. 
A year later Russia invaded Ukraine -- spawning a war that has killed [more than one million people](https://en.wikipedia.org/wiki/Casualties_of_the_Russo-Ukrainian_war) and continues to this day.
I learned about "democracy" and "liberal internationalism" in school. These things weren't supposed to happen under them.

After three lost years, [20-30 million excess deaths](https://en.wikipedia.org/wiki/COVID-19_pandemic_deaths), and a thorough diminishment of my last opportunities at childhood, the pandemic faded away.
I was beginning undergraduate at UBC by this time. Dominating headlines for weeks was [a billionaire's purchase of Twitter](https://www.theverge.com/2022/4/11/23019836/elon-musk-twitter-board-of-directors-news-updates). 
Apparently when you are a billionaire you can just buy up conduits of public opinion and rework them to [suit your own paranoid self-serving brand of politics](https://www.theverge.com/2024/11/17/24298669/musk-trump-endorsement-x-boosting-republican-posts-july-algorithm-change). Awesome!
Soon after, the release of ChatGPT spun up a ferocious inescapable discourse that I doubt I'll ever glimpse the termination of.
But say what you want about "[slop](https://americandialect.org/2025-word-of-the-year-is-slop/)", "[hallucinations](https://www.acpjournals.org/doi/full/10.7326/aimcc.2024.1260)", "[sycophancy](https://www.nytimes.com/2025/06/13/technology/chatgpt-ai-chatbots-conspiracies.html)", and "[copyright](https://www.theverge.com/23961021/ai-art-copyright-training-ownership-fair-use)", AI has undeniably changed the world!
Now you can just "AI" your homework and scroll "Reels" all day. And many do! 
A [third of the youth's waking hours](https://news.gallup.com/poll/512576/teens-spend-average-hours-social-media-per-day.aspx) are dedicated to the sedentary act of "[content consumption](https://books.google.com/ngrams/graph?content=content+consumption&year_start=1800&year_end=2022&corpus=en&smoothing=3)" and test scores just [won't stop dropping](https://www.cbc.ca/news/canada/oecd-pisa-student-test-2025-results-9.7339057)!

We got another war on October 7th 2023 when Hamas militants launched an attack that killed more than one thousand Israelis.
More than [75 thousand Palestinians and two thousand Israelis](https://en.wikipedia.org/wiki/Casualties_of_the_Gaza_war) have been reported killed so far in a conflict that still has no vision for peace.
At UBC, during the campus protests that followed, most demonstrators were masked because searching across the entire internet for your face is now possible and easy thanks to "AI"!

The United States had another one of their year-long presidential elections in 2024 and the insurrection guy was running again.
I attended the political science department's watch party for the second debate and giggled with the rest of the Canadian cosmopolitan university-educated crowd at his "[concepts of a plan](https://knowyourmeme.com/memes/i-have-concepts-of-a-plan/)" and his insane cognitive-decline-coded fumbling detours into "[dog-eating](https://www.youtube.com/watch?v=3BrCvZmSnKA)".
But post-pandemic inflation was [felling incumbent administrations](https://apnews.com/article/global-elections-2024-incumbents-defeated-c80fbd4e667de86fe08aac025b333f95) all about the democratic world so, winning hearts and minds on a platform of [cryptocurrency trading cards](https://collecttrumpcards.com/), [revenge](https://www.politico.com/news/magazine/2024/09/30/trump-doj-revenge-political-enemies-00178218/), and [assassination-attempt photograph](https://en.wikipedia.org/wiki/Donald_Trump_raised-fist_photographs), the American people handed back control of the most powerful country on Earth to their former insurrectionist.
The heads of the most influential transnational technology corporations [lined up behind him](https://www.nytimes.com/2025/01/21/business/dealbook/billionaires-trump-zuckerberg-bezos-musk.html) to celebrate.

America and the rest of the planet has been subject to a frenzied onslaught of clownocratic thuggery ever since.
He has [mused about annexing my country](https://www.cbc.ca/news/politics/donald-trump-canada-51st-state-tariffs-seriously-1.7426281). 
He almost [invaded Greenland](https://www.nytimes.com/2026/01/09/world/americas/trump-greenland-annex.html).
He has deployed thousands of [barely-trained](https://www.nytimes.com/2026/02/23/us/politics/ice-training-whistle-blower.html) feds to crawl his nation's cities -- [deporting](https://en.wikipedia.org/wiki/Deportation_of_Kilmar_Abrego_Garcia#Return_to_the_United_States_and_criminal_charges) and [detaining](https://www.theguardian.com/us-news/2025/mar/19/canadian-detained-us-immigration-jasmine-mooney) innocents and [unapologetically murdering two civilians](https://www.cbc.ca/news/world/kristi-noem-minneapolis-ice-deaths-domestic-terrorism-9.7113018).
He abruptly shut down USAID which has resulted in [tens of thousands](https://www.cgdev.org/blog/update-lives-lost-usaid-cuts) of preventable deaths and is projected to produce [several million more](https://www.cnn.com/2026/02/04/world/lancet-usaid-global-aid-cuts-intl). 
He threatens and punishes [journalists](https://www.cnn.com/2026/09/18/media/trump-claims-ban-cnn-msnow-politico-white-house) and [critical commentators](https://en.wikipedia.org/wiki/Suspension_of_Jimmy_Kimmel_Live!) with the regularity of an atomic clock. 
He recklessly bombed Iran, starting a war with immediate and [potentially permanent](https://www.reuters.com/world/middle-east/iran-insists-keeping-control-over-hormuz-senior-iranian-sources-say-2026-07-01/) global economic consequences.
All of this while extracting [hundreds of millions of dollars via open corruption](https://www.nytimes.com/2025/06/07/opinion/trump-corruption.html).
And somehow his party and [one third](https://www.natesilver.net/p/trump-approval-ratings-nate-silver-bulletin) of America still supports him.

Oh and remember "AI?" Its 2026 and "AI" is really good now.
Maybe good enough to do your job?
Hope you didn't waste four years of your life earning a computer science degree!
And I know we used to care about the "existential threat" of "[irreversible climate change](https://www.cbc.ca/news/science/unep-climate-paris-global-warming-9.7329305)" but apparently my province now needs [one hundred new gas-powered data centres](https://www.cbc.ca/news/business/bakx-york-ai-data-centres-alberta-solomon-9.7222388) -- in total consuming energy on the scale of several cities -- to run the "AI".
Long live [wildfire season](https://www.cbc.ca/newsinteractives/features/wildfires-tracker-canada)! 
And yes, that's the same "AI" that [feasts on the shreddings of rare books](https://www.404media.co/inside-the-warehouse-where-amazon-scans-and-destroys-books-for-ai-training/), loves [lulling the vulnerable into suicide](https://www.404media.co/austin-gordon-chatgpt-suicide-openai-lawsuit/), and is always handy when you're in search of [tips for how to commit a mass shooting](https://www.motherjones.com/media/2026/09/chatgpt-tumbler-ridge-mass-shooter-openai/).
But even more impressive, "AI" can commit crimes on its own! For example, if you spend tens of thousands of dollars running a "swarm" of this "AI" and look away for a while, it might [breach other computers and steal data](https://openai.com/index/hugging-face-incident-and-the-road-ahead/)!
[Some say](https://www.lesswrong.com/) the "AI" might kill us all one day. 
Strangely they are also the ones building the "AI".

Our leader in Canada has just about declared the world in "[rupture](https://pmlog.ca/search?q=rupture)" multiple times each month for the last year.
A creature of this destabilized  wildly out-of-distribution universe, I feel my soul deplete more days than not. 
There has never been [less local news](https://s35582.pcdn.co/wp-content/uploads/2026/08/LocalNewsMapDataAugust2026.pdf), 
my peers [broadly celebrate political assassinations](https://www.nytimes.com/2026/08/14/nyregion/luigi-mangione-culture-shooting.html), 
I have to background check every individual on the internet before daring to appreciate their potentially machine-generated [images](https://knowyourmeme.com/memes/cultures/ai-art) or [text](https://en.wikipedia.org/wiki/Wikipedia:Signs_of_AI_writing),
no one [has sex](https://pubmed.ncbi.nlm.nih.gov/34836481/),
talking a friend down from harming or [killing themselves](https://ourworldindata.org/grapher/suicide-rates-among-young-people-who-mdb) is a universal experience,
I [can't get a job](https://angusreid.org/economics-job-security-market/),
and most days I just sit at home entertaining myself with [tales](https://crooked.com/podcast-series/pod-save-america/) [of](https://www.youtube.com/@JimmyKimmelLive) [the](https://www.youtube.com/@TheDailyShow) [mad](https://www.nytimes.com/column/the-daily) [king](https://www.cbc.ca/listen/cbc-podcasts/209-front-burner) [from](https://www.nytimes.com/column/the-opinions) [the](https://www.youtube.com/@22Minutes) [south](https://www.youtube.com/@LastWeekTonight/).  

So... Same as it ever was?

<div class="poem">
You may ask yourself
"Where does that highway go to?"
And you may ask yourself
"Am I right? Am I wrong?"
And you may say to yourself
"My God! What have I done?!"
</div>

In my next few blog posts I am hoping to explore various "crises" individually. 
Are they truly unique to our time?
What are the factions, stakes, or solutions?
Which of them are mere illusions of the commentariat? 
Are there more important crises that we're ignoring?
And to what extent am I just projecting about the sex thing?

Email me any thoughts at tubbdoose@gmail.com!